<div class="landing-container">
  <img src="/images/fresh_flow.png" alt="Fresh Flow Logo" class="logo">
  <div class="card-actions">
    <button onclick="window.location.href='/medarbejder'" class="btn">Go to Medarbejder</button>
    <button onclick="window.location.href='/kunde'" class="btn">Go to Kunde</button>
  </div>
</div>